.single-product div.product table.variations{
    display: none;
}
.svsw-wrap {
    margin-bottom: 15px;
}
.svsw-hide-attr .svsw-wrap {
    margin-bottom: 25px;
}
.svsw-attr-wrap:has(.svsw-type-image), .svsw-attr-wrap:has(.svsw-type-color), .svsw-attr-wrap:has(.svsw-type-button) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    position: relative;
    align-items: center;
} 
.svsw-swatch {
    transition: .5s;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #222;
}
.svsw-swatch.svsw-btn {
    border-color: rgba(0,0,0,0.25) !important;
}
.svsw-swatch.svsw-selected {
    border-color: #222 !important;
}
.svsw-swatch.svsw-btn.svsw-selected {
    border-color: #222 !important;
    background-color: #111111;
    color: #fff;
}
.svsw-swatch:hover, .svsw-swatch *:hover {
    cursor: pointer;
}
.svsw-swatch-content {
    position: relative;
}
.svsw-swatch-content input[type=radio] {
    height: 20px;
    width: 20px;
    accent-color: black;
    transition: .5s;
}
.svsw-swatch-content input[type=radio]:focus {
    outline: none;
}
.svsw-attr-wrap select {
    border: 1px solid #000;
    padding: 2px 0;
    margin-bottom: 5px;
}
.svsw-attr-wrap select:focus {
    outline: none;
}
.svsw-attr-wrap select.select-invalid {
    border-color: rgba(0,0,0,.2);
}
.svsw-swatch-content.svsw-type-image, .svsw-swatch-content.svsw-type-color {
    display: inline-flex;
}
.svsw-swatch-content .svsw-swatch.svsw_circle {
    border-radius: 50%;
}
.svsw-swatch-content .svsw-swatch.svsw_round_corner {
    border-radius: 5px;
}
.svsw-tooltip {
    margin-bottom: 5px;
    padding: 7px;
    min-width: 100px;
    border-radius: 3px;
    background-color: #000000;
    background-color: rgba(51, 51, 51, 0.9);
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    pointer-events: none;
    box-sizing: inherit;
    position: absolute;
    bottom: 109%;
    left: 50%;
    z-index: 999;
    transform: translateZ(0);
}
.svsw-type-color .svsw-tooltip{
    margin-left: -56px;
}
.svsw-type-image .svsw-tooltip{
    margin-left: -62px;
}
.svsw-tooltip:after {
    pointer-events: none;
    box-sizing: inherit;
    position: absolute;
    bottom: -15%;
    left: 50%;
    z-index: 999;
    transform: translateZ(0);
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000000;
    border-top: 5px solid rgba(51, 51, 51, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
}
.svsw-type-image .svsw-tooltip {
    padding: 5px;
    border-radius: 3px;
    width: 116px;
    height: 116px;
    display: inline-table;
}
.svsw-type-image .svsw-tooltip:after {
    bottom: -3%;
}
.svsw-type-image .svsw-tooltip img {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    display: inline-block;
    object-fit: cover;
    padding-top: 3px;
}
.svsw-tooltip p {
    margin: 0;
}
span.svsw-btn {
    padding: 5px 15px;
    display: inline-block;
    line-height: 1.3;
    text-align: center;
}
.svsw-color-image{
    display: inline-block;
}
.svsw-swatch.svsw-swatch-radio {
    border: none;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
a.svsw-reset.reset_variations {
    margin: 0;
}
.svsw-btn.svsw_circle {
    padding: 0px;
    text-align: center;
}
.svsw-swatch label {
    margin: 0;
    padding-left: 5px;
}
.svsw-wrap hr {
    margin: 0 0 15px 0;
}
label.attr-name{
    display: block;
    padding: 5px 15px;
}
select.svsw-swatch-dropdown {
    padding: 5px 10px;
}
.svsw-wrap.att-block-1, .svsw-wrap.att-block-2{
    background: #ffffff;
    padding: 15px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    max-width: 600px;
    max-width: 99%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.svsw-wrap.att-block-1{
    border-radius: 25px;
}
.att-block-1 label.attr-name{
    padding: 5px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
label.attr-name.an-no-pad {
    padding-left: 0;
}

.svsw-swatch.svsw-disabled {
    pointer-events: none;
    position: relative;
    opacity: 0.6;
}
.svsw-swatch.svsw-disabled::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -27%;
    width: 150%;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);
} 
.svsw-swatch.svsw-disabled::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -27%;
    width: 150%;
    height: 2px;
    background-color: #000000;
    transform: rotate(-45deg);
}
.svsw-swatch-radio.svsw-disabled::before, .svsw-swatch-radio.svsw-disabled::after{
    left: 20px;
    width: 10%;
}
@media screen and (max-width: 767px) {
    .svsw-swatch.svsw-btn{
        font-size: 15px !important;
        padding: 5px 10px;
    }
    .svsw-wrap.att-block-1, .svsw-wrap.att-block-2{
        padding: 15px;
    }
    select.svsw-swatch-dropdown {
        padding: 5px 5px;
        font-size: 14px !important;
    }
}